openapi: 3.0.0
info:
  title: "Tempel API"
  version: "1.0.0"

servers:
  - url: http://api.tempel.ar
    description: Main server
  - url: http://localhost:5000
    description: Internal local server for testing

paths:
  /auth/token:
    post:
      tags:
        - "Authentication"
      summary: "Retrieve an authentication token"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                username:
                  type: string
                password:
                  type: string
              required:
                - grant_type
                - username
                - password
      responses:
        200:
          description: "Token successfully generated"
        400:
          description: "Unsopported grant type"

  /users/{id}:
    get:
      tags:
        - "User"
      summary: "Get user by id"
      security:
        - ApiKeyAuth: [write]
      operationId: "get_user"
      parameters:
        - name: "id"
          in: "path"
          description: "The id of the user to retrieve"
          required: true
          type: "string"
      responses:
        200:
          description: "User successfully retrived"
          schema:
            $ref: "#/components/schemas/User"
        404:
          description: "User doesn't exist"
      x-swagger-router-controller: "test_api.web.controllers.user_controllers"
    delete:
      tags:
        - "User"
      summary: "Remove user by id"
      operationId: "remove_user"
      parameters:
        - name: "id"
          in: "path"
          description: "The id of the user to remove"
          required: true
          type: "string"
      responses:
        202:
          description: "User successfully removed"
        404:
          description: "User doesn't exist"
      x-swagger-router-controller: "test_api.web.controllers.user_controllers"
    put:
      tags:
        - "User"
      summary: "Update and replace an user"
      operationId: "update_user"
      parameters:
        - name: "id"
          in: "path"
          description: "The id of the user to update"
          required: true
          type: "string"
        - name: "User"
          in: "body"
          required: true
          schema:
            $ref: "#/components/schemas/User"
      responses:
        200:
          description: "User successfully updated"
        404:
          description: "User doesn't exist"
      x-swagger-router-controller: "test_api.web.controllers.user_controllers"
  /users:
    get:
      tags:
        - "User"
      summary: "List all users"
      operationId: "get_all_users"
      responses:
        200:
          description: "All users successfully retrieved."
          schema:
            $ref: "#/components/schemas/User"
      x-swagger-router-controller: "test_api.web.controllers.user_controllers"
    post:
      tags:
        - "User"
      summary: "Create a new user"
      operationId: "add_user"
      parameters:
        - in: "body"
          name: "body"
          description: "User to create"
          required: true
          schema:
            $ref: "#/components/schemas/User"
      responses:
        201:
          description: "User created"
      x-swagger-router-controller: "test_api.web.controllers.user_controllers"

components:
  schemas:
    Users:
      type: array
      items:
        $ref: "#/components/schemas/User"
    User:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int32"
        username:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
      required:
        - "username"
        - "email"
        - "password"
      example:
        username: "sample_user"
        email: "sample_user@mail.com"
        password: "Pas$w0rd"



  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      # name: X-API-Key
    # BasicAuth:
    #   type: http
    #   scheme: basic
    # BearerAuth:
    #   type: http
    #   scheme: bearer
    # OpenID:
    #   type: openIdConnect
    #   openIdConnectUrl: https://example.com/.well-known/openid-configuration
    # OAuth2:
    #   type: oauth2
    #   flows:
    #     authorizationCode:
    #       authorizationUrl: https://example.com/oauth/authorize
    #       tokenUrl: https://example.com/oauth/token
    #       scopes:
    #         read: Grants read access
    #         write: Grants write access
    #         admin: Grants access to admin operations
